.trial-result {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.attack-type {
  display: flex;
  flex-direction: column;
}

.attack-type h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.attack-type label {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.attack-type label input {
  accent-color: var(--color-black);
}

.stats-table h2 {
  margin-bottom: 10px;
  font-size: 14px;
}

.stats-table table {
  border-collapse: collapse;
}

.stats-table th,
.stats-table td {
  padding: 8px 10px;
  text-align: center;
  font-size: 14px;
}

.stats-table th {
  background-color: #f2f2f2;
}

.judge-type h2,
.judge-section h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.judge-section {
  display: flex;
  gap: 10px;
}

.judge-section input {
  width: 70px;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--color-gray03);
  border-radius: 8px;
}

.judge-section button {
  color: var(--color-white);
  background: var(--color-black);
  border: none;
  transition: 0.3s all;
  border-radius: 8px;
  margin-top: 18px;
  width: 100px;
  height: 46px;
}

.judge-type-select {
  position: absolute;
  text-align: center;
  top: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--color-gray02);
  background-color: #fff;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.judge-type-option {
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all;
}

.judge-type-option:hover {
  background: var(--color-gray01);
}
