.sidebar-wrap {
  background: var(--color-white);
  border-right: 1px solid var(--color-gray03);
  width: 400px;
  height: 100vh;
  padding: 40px 20px 40px 40px;
  transition: all 0.3s;
}

.sidebar-wrap.closed {
  width: 40px;
  padding: 40px 10px;
}

.sidebar-wrap.closed .close-button {
  order: -1;
}

.character-list-header h2 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.sidebar-wrap.open .character-list-header h2 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0.3s, visibility 0.3s 0.3s;
}

.character-list-header,
.close-button {
  display: flex;
  justify-content: space-between;
}

.character-list-header {
  margin-bottom: 20px;
  padding-right: 20px;
}

.sidebar-wrap .category {
  display: grid;
  grid-template-columns: auto 36px 46px 24px 24px 24px 45px;
  color: var(--color-gray03);
  padding-right: 28px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 14px;
}

.sidebar-wrap .category span:first-child {
  text-align: left;
}
