:root {
  --color-white: #fff;
  --color-gray01: #f7f7f7;
  --color-gray02: #eaeaea;
  --color-gray03: #ccc;

  --color-red: #ff7875;
  --color-blue: #4096ff;
  --color-yellow: #ffc53d;
  --color-green: #e1ffcf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pretendard", Helvetica;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
